{% extends 'base.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        <form method="POST">
            {{ form.hidden_tag() }}

            {{ form.username.label }}
            {% if form.username.errors %}
                {{ form.username }}
                {% for error in form.username.errors %}
                {{ error }}
                {% endfor%}

            {% else %}
                {{ form.username }}
            {% endif %}

            <br>
            {{ form.email.label }}
            {% if form.email.errors %}
                {{ form.email }}
                {% for error in form.email.errors %}
                    {{ error }}
                {% endfor %}
            {% else %}
                {{ form.email }}
            {% endif %}

            <br>
            {{ form.password.label }}
            {% if form.password.errors %}
                {{ form.password }}
                {% for error in form.password.errors %}
                    {{ error }}
                {% endfor %}
            {% else %}
                {{ form.password }}
            {% endif %}

            <br>
            {{ form.profile_pic.label }}
            {% if form.profile_pic.errors %}
                {{ form.profile_pic }}
                {% for error in form.profile_pic.errors %}
                    {{ error }}
                {% endfor %}
            {% else %}
                {{ form.profile_pic }}
            {% endif %}

            <br>
            {{ form.register }}

        </form>
    </div>
    <a href="{{url_for('user.login')}}">Already have account, Login here</a>
</div>
{% endblock %}